Django>=3.0,<=3.1
whitenoise
psycopg2-binary
resume-parser
nltk
spacy==2.3.5
pyresparser
bs4
requests
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
azure-communication-sms
pushbullet.py==0.9.1
pywebio
scikit-learn
scipy
fuzzywuzzy
gensim==3.8.3
sendgrid
