Django>=3.0,<=3.1
whitenoise
psycopg2-binary
resume-parser
nltk
spacy==2.3.5
pyresparser
bs4
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
