<form method="POST" action="">
    {% csrf_token %}
    <input type="radio" name="option" value="scrape">
    <label>Press to scrape jobs and populate the database and csv!</label><br>

    <input type="radio" name="option" value="job-extract">
    <label>Press to extract data from scraped jobs and populate the csv for ML matching!</label><br>

    <input type="radio" name="option" value="resume">
    <label>Press to test resume matching with logged in user!</label><br>

    <input type="text" name="sms-number">
    <label>Enter phone number to check SMS sending with a sample job!</label><br>

    <input type="text" name="push-bullet">
    <label>Enter your key from push bullet, to test sending job notification via Push Bullet!</label><br>
    
    <input type="radio" name="option" value="resumes-csv">
    <label>Press to read through all resumes of all users and populate data to a csv</label><br>

    <input type="radio" name="option" value="resumes-csv-user">
    <label>Press to read through all resumes of logged in user and populate data to a csv</label><br>

    <input type="submit">
</form>