<!DOCTYPE html>
<html>
    
    <head>
        <title>Jobs4Me | Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'jobs4me/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'jobs4me/awesome-notifications/style.css' %}"></link>
        <script src="{% static 'jobs4me/awesome-notifications/index.var.js' %}"></script>
        <script>
            let notifier = new AWN();
            function checkMessages() {
                msgs = document.getElementsByClassName("status-message");
                for (const msg of msgs) {
                    msg_content = msg.innerHTML;
                    if (msg_content.includes("deleted") || msg_content.includes("added") || msg_content.includes("job")) {
                        notifier.success(msg_content);
                    }                    
                }
            }
        </script>
    </head>
    
    <body onload="checkMessages()">
        <div id="title-container">
            <h2 class="page-greeting">Dashboard for {{request.user}}</h2>
            <a href="{% url 'jobs4me:logout' %}"><button class="blue-button">Logout</button></a>
            {% if is_super %}
                <a href="{% url 'jobs4me:admin-portal' %}"><button class="blue-button">Admin Portal</button></a>
            {% endif %}
        </div>
        
        <div id="top-section-container" class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="white-div info">
                        <h4 class="div-header">Your information</h4>
                        <p>
                            <b>Name: </b>{{user_name}}<br>
                            <b>Email: </b>{{email}}<br>
                            <b>Phone number: </b>{{phone_number}}<br>
                            <b>Location: </b>{{address}}<br>
                            {% if additional_comments %}
                                <b>Additional comments: </b>{{ additional_comments }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="resume-upload-div">
                        <h4 class="div-header">Upload new resume</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span>Resume name: </span>{{ form.name }}
                            <label class="custom-file-upload">
                                Upload from computer
                                {{ form.resume_file }}
                            </label>
                            <label for="push-bullet-key" style="font-size: 12px;">
                                Have a PushBullet account? Insert your key to receive a PushBullet notification for recommended jobs!
                            </label>
                            <input type="text" name="push-bullet-key" id="push-bullet-key" placeholder="PushBullet key">
                            <input type="submit" value="Submit" class="submit-input">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% for message in messages %}
            <p style="visibility: hidden;" class="status-message">{{ message }}</p>
        {% endfor %}
        
        <div id="my-resumes-container" class="container">
            <div class="row">
                <div class="col">
                    <div class="white-div">
                        {% if resumes %}
                            <h4 class="div-header">Your resumes</h4>
                            {% for resume in resumes %}
                                <div class="resume-row">
                                    <span class="dot">{{ forloop.counter }}</span>
                                    <h5 class="resume-name">Resume name: {{ resume.name }}</h5>
                                    <p class="resume-file-name">Resume path: {{ resume.resume_file }}</p>
                                    <form class="trash" method="POST" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete-resume" value="{{ resume.resume_file }}">
                                        <button class="trash-button" type="submit"><i class="fa fa-trash"></i></button>
                                    </form>                              
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="div-header">No resumes uploaded</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="my-jobs-div">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="white-div header">                
                            {% if suitable_jobs %}
                                <h4 class="div-header">Your matched jobs</h4>
                            {% else %}
                                <h4 class="div-header">You have no matching jobs at this time</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                {% for sj in suitable_jobs %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="row">
                    {% endif %}
                        <div class="col-6">
                            <div class="white-div-2">
                                <h5><i class="fas fa-briefcase"></i>  {{ sj.job_id.title }}</h5>
                                <form class="trash" method="POST" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete-job" value="{{ sj.job_id.title }}~{{ sj.job_id.company }}">
                                    <button class="trash-button" type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                                <p><i class="fas fa-building"></i>  {{ sj.job_id.company }}</p> 
                                {% if sj.job_id.salary_range %}
                                    <p><i class="fas fa-money-bill-alt"></i> {{ sj.job_id.salary_range }}</p>     
                                {% else %}
                                    <p>No salary information available</p>
                                {% endif %}
                                <a href="{{ sj.job_id.url }}" target="_blank"><button class="job-posting-button">See job posting <i class="fas fa-external-link-alt"></i></button></a>
                                <p>Location: {{ sj.job_id.location }}</p>
                            </div>
                        </div>        
                    {% if forloop.counter|divisibleby:2 %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </body>

</html>

