<!DOCTYPE html>
<html>
    
    <head>
        <title>Jobs4Me | Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'jobs4me/dashboard.css' %}">
    </head>
    
    <body>
        <div id="title-container">
            <h2 class="page-greeting">Dashboard for {{request.user}}</h2>
            <a href="{% url 'jobs4me:logout' %}"><button class="logout-button">Logout</button></a>
        </div>
        
        <div id="top-section-container" class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="gray-div">
                        <h4 class="div-header">My information</h4>
                        <p>
                            <b>Name: </b>{{user_name}}<br>
                            <b>Email: </b>{{email}}<br>
                            <b>Phone number: </b>{{phone_number}}<br>
                            <b>Location: </b>{{address}}<br>
                            {% if additional_comments %}
                                <b>Additional comments: </b>{{ additional_comments }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="resume-upload-div">
                        <h4 class="div-header">Upload new resume</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span>Resume name: </span>{{form.name}}                        
                            {{ form.resume_file }}
                            <input type="submit" value="Submit" class="submit-input">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% for message in messages %}
            <p class="status-message">{{ message }}</p>
        {% endfor %}
        
        <div id="my-resumes-container" class="container">
            <div class="row">
                <div class="col">
                    <div class="gray-div">
                        <h4 class="div-header">My resumes</h4>
                        {% for resume in resumes %}
                            <div class="resume-row">
                                <span class="dot">{{ forloop.counter }}</span>
                                <h5 class="resume-name">{{ resume.name }}</h5>
                                <p class="resume-file-name">{{ resume.resume_file }}</p>
                                <form class="trash" method="POST" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete-resume" value="{{ resume.resume_file }}">
                                    <button class="trash-button" type="submit"><i class="fa fa-trash"></i></button>
                                </form>                              
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

